@media (max-width: 1199px) {

}
@media (max-width: 991px) {
    .header-area__lang a > svg {
        margin-right: 0;
    }
}
@media (max-width: 767px) {

}
@media (max-width: 576px) {
    .content{
        flex-direction: column!important;
    }
    .content > .content__textarea{
        border-left: none!important;
        border-right:none!important;
        padding-bottom: 10px;
        border-bottom: 3px solid rgba(226, 224, 221, .5);
    }
    .foot{
        flex-direction: column;
    }
}
@media (max-width: 320px) {
    .content {
        flex-direction: column;
    }
    .content > .content__textarea{
        border-left: none!important;
        border-right:none!important;
        border-bottom: 3px solid rgba(226, 224, 221, .5);
    }
    .foot {
        flex-direction: column;
    }
}