*{
    direction: rtl;
    font-family: iransans;
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/eot/IRANSansWeb_Black.eot');
    src: url('../fonts/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}
i {
    font-family: "Font Awesome 5 Pro";
}
a {
    text-decoration: none !important;
}
ul {
    list-style: none;
}
body{
    background: #f9fcfd;
    font-family: iransans;
}
header {
    margin-bottom: 40px;
}
.header-area {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*width: 100%;*/
}
.header-area__logo {
    text-align: center;
    margin-top: 43px;
}
.header-area__logo a > img {
    width: 214px;
    max-width: 214px;
    height: 93px;
}
.header-area__reg-area {
    display: flex;
    flex-direction: row;
    margin-top: 59px;
}
.header-area__register {
    flex: 1 0 auto;
}
.header-area__register form {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.header-area__register form > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-area__register form  input {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    background-color: #ffffff;
    color: #7b7b7b;
    font-size: 11px;
    font-weight: 400;
    padding: 10px 14px;
    transition: 0.2s ease-in-out;
}
.header-area__register form  .__register__input {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    background-color: #ffffff;
    justify-content: space-evenly;
   display: flex;
    font-size: 11px;
    font-weight: 400;
    padding: 10px 14px;
    transition: 0.2s ease-in-out;
}
.header-area__register form  .__register__input >span {
    padding-left: 6px;
}
#one {
    color: #f30000;
}
#two {
   color:#7d7d7d
}
#three {
    color: #a2a2a2;
}
.header-area__register form  .__register__input >a {
    padding-left: 6px;
    color: #7b7b7b;
}
.header-area__register form  .__register__input :last-child {
    padding-left: 67px;
}
.header-area__register form div:first-child{
    margin-bottom: 5px;
}
.header-area__register form  input[type="text"] {
    margin-bottom: 5px;
}
.header-area__register form input:focus-within {
    border-color:#f30000;
}
.header-area__register form > button {
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 22px;
    margin-right: 5px;
}
.header-area__register form > button i {
    color:#333333;
    font-size: 21px;
}
.header-area__lang {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 13px;
    justify-content: center;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 17px  21px;
}
.header-area__lang a {
    color: #7b7b7b;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    transition: 0.2s ease-in-out;
}
.header-area__lang a:hover {
    color: #f30000;
}
.header-area__lang a > svg {
    margin-right: 11px;
}
.header-area__lang-fa {
    margin-bottom: 13px;
}
.menu-area {
    width: 100%;
    margin-bottom: 50px;
}
.menu-area ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.menu-area ul li {
    flex: 1 0 auto;
    border-left: 1px solid #e3e3e3;
}
.menu-area ul li:last-child {
    border-left: none;
}
.menu-area ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 400;
    transition: 0.2s ease-in-out;
}
.menu-area ul li a:hover {
    color:#f30000;
}
.menu-area ul li a:hover i {
    color:#f30000;
}
.menu-area ul li a i {
    color:#a7a7a7;
    font-size: 31px;
    margin-bottom: 14px;
    transition: 0.2s ease-in-out;
}
.menu-area ul li ul {

}
.menu-area ul li ul li {

}
.menu-area ul li ul li a {

}
.sliderPart{

}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*.swiper-wrapper{*/

/*    !*transform: translate3d(-23px, 0px, 0px)!important;*!*/
/*}*/
/*.swiper-slide {*/
/*    text-align: center;*/
/*    font-size: 18px;*/
/*    background: #fff;*/
/*    !*overflow: hidden;*!*/
/*    !*width: 117px !important;*!*/

/*    !* Center slide text vertically *!*/
/*    !*display: -webkit-box;*!*/
/*    !*display: -ms-flexbox;*!*/
/*    !*display: -webkit-flex;*!*/
/*    !*display: flex;*!*/
/*    !*-webkit-box-pack: center;*!*/
/*    !*-ms-flex-pack: center;*!*/
/*    !*-webkit-justify-content: center;*!*/
/*    !*justify-content: center;*!*/
/*    !*-webkit-box-align: center;*!*/
/*    !*-ms-flex-align: center;*!*/
/*    !*-webkit-align-items: center;*!*/
/*    !*align-items: center;*!*/
/*}*/
/*.sliderPart__container{*/
/*    position:relative;*/
/*    display:flex;*/
/*    !*justify-content:center;*!*/

/*}*/
/*.sliderPart__container__textarea{*/
/*    position:absolute;*/
/*    right:0;*/
/*    left:0;*/
/*    top:33.5%;*/
/*    text-align: unset !important;*/
/*}*/

.__textarea__titles{
    text-align: start;
    position: absolute;
    top:68px;
    left: 132px;
}
.__textarea__titles  p {
    opacity: 0.89;
    color: #4a4a4a;
    font-size: 27px;
    font-weight: 400;
}
.__textarea__titles>h2{
    opacity: 0.89;
    color: #f30000;
    font-size: 41px;
    font-weight: 400;
    padding-right: 32px;
}

.__textarea__caption{
    background-color: #ffffff;
    opacity: 0.80;
    display: flex;
    color: #2b2b2b;
    font-size: 13px;
    line-height: 29px;
    font-weight: 400;
    padding: 0 23px;
    padding-top:28px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    left: 214px;
    right: 218px;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 58px;
}
.content:nth-child(even){
    flex-direction: row-reverse;
}
.content:nth-child(even) .content__textarea{
    /* border-left:1px solid rgba(226, 224, 221, .5); */
    box-shadow: -7px 0px 8px -10px rgba(0,0,0,.2);
}
.content:nth-child(odd) .content__textarea{
    /* border-right:1px solid rgba(226, 224, 221, .5); */
    box-shadow: 6px 0px 8px -10px rgba(0,0,0,.2);
}
.content__imgarea{
}
.content__textarea{
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
}
.content__title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content__title h2{
    color: #7b7b7b;
}
.content__title span{
    display: block;
    color: #bebebe!important;
    text-transform: uppercase;
    letter-spacing: 7.99px;
}
.content__textarea article{
    padding-bottom: 31px;
    font-size: 13px;
    color: #2b2b2b;
    line-height: 29px;
}
.content__textarea a{
    color:whitesmoke;
    background: #f30000 ;
    font-size: 11px;
    font-weight: 400;
    margin-right: auto;
    padding:12px 0 10px 19px;
    border-radius: 4px;
}
.content__textarea a:hover{
    color:floralwhite;
}
.content__textarea a:active , .content__textarea a:checked {
    background-color: #777777;
}
.content__textarea  a:hover{
    transition: 0.2s ease-in-out;
}
.content__textarea a i{
    padding-left: 13px;
    padding-right:16px;
}
reward-wrapper{
    align-items: center!important;
}
.rewardpart{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
}
.rewardpart__title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 50px;
}
.rewardpart__title i{
    color: #888888;
    font-size: 25px;
    padding-left: 15px;
}
.rewardpart__title span{
    color: #484848;
    font-size: 16px;
    font-weight: 400;
}
.rewardpart__title span::after{
    display: inline-block;
    content: "";
    border-top: 1px solid #808080;
    border-left: 134px solid transparent;
    opacity: 0.56;
    margin-right: 13px;
    margin-bottom: 3px;
    /* transform: translateY(-1rem); */
}

.rewardpart__slider{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.rewardpart__rewardsection{
    display: flex;
    width: 170px;
    margin-right: 81px;
    margin-left: 81px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.rewardpart__rewardsection img{
    width: fit-content;
}

.rewardpart__rewardsection a{
    color:black;
}
.rewardpart__rewardsection a>span{
    color: #484848;
    font-size: 12px;
    font-weight: 400;
}

.rewardpart__rewardsection a>p{
    color: #d7d7d7;
    font-size: 52px;
    font-weight: 400;
}
.rewardpart__rewardsection a:hover{
    color:black;
}
.rewardpart__rewardsection a:hover p , .rewardpart__rewardsection a:active p{
    color:red;
    transition: .1s ease-in-out;
}

.news{
    display: flex;
    flex-direction: column;
    padding-bottom: 77px;
}
.news__title{
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
    align-items: flex-end;
}
.news__title i{
    color: #808080;
    padding-left: 14px;
    font-size: 30px;
    padding-bottom: 1px;
}
.news__title h4{
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    padding-left:14px;
    padding-top: 7px;
}
.news__title h4::after{
    display: inline-block;
    content: "";
    border-top: 1px solid #808080;
    border-left: 134px solid transparent;
    opacity: 0.56;
    margin-right: 14px;
    margin-bottom: 1px;
}
.news__title a{
    margin-right: auto;
    color: #9c9c9c;
    font-size: 13px;
    align-self: center;
}
.news__content{
    display:flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.news__content__part{
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
}
.__part__header{
    display: flex;
    align-items: baseline;
}
.__part__header time{
    color: #a6a6a6;
    font-size: 11px;
    font-weight: 400;
    padding-left: 16px;
}
.__part__header h4{
    color: #ff0e0e;
  font-size: 16px;
}
.news__content__part p{
    font-size: 13px;
    color: #484848;
    margin-bottom: 15px!important;

}
.news__content__part a{
    font-size: 11px;
    border: 1px solid #dfdfdf;
    border-radius:8px;
    color: #6c6c6c;
    padding: 10px 0 9px 17px;
    margin-left: auto;
}
.news__content__part a:hover{
    background-color: #ececec;
    color: #6c6c6c;
    transition: .1s ease-in-out;
}
.news__content__part a>i{
    padding-left:18px;
    padding-right:14px
}
.map{
    /*padding-bottom:35.25%;*/
    height: 580px;
    position:relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.24);
}
.map iframe{
    left:0;
    top:0;
    height:560px;
    width:100%;
    position:absolute;
    padding-top: 4px;
    border:0;
}
.foot{
    display: flex;
    margin-bottom: 44px;
}
.foot__copyright{
    display: flex;
   align-items: center;
    text-align: right;
    padding-left: inherit!important;
}
.foot__copyright img{
    width: 88px;
    height: 32px;
    padding-left: 22px;
}
.foot__copyright p{
    color: #a7a7a7;
    font-size: 11px;
    margin-bottom: -3px;
}
.foot__devlog{
    display:flex;
}
.foot__devlog img{
    margin-right: auto;
}

.contactus{
    display: flex;
    left: 94px;
    position: absolute;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: column;
    text-align: start;
    width:max-content;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
    /*background-color: #ffffff;*/
    /*opacity: 0.65;*/
    /* border:1px solid; */

}
.contactus__title{
    background: white;
    display:flex;
    /*padding:25px;*/
    /*box-shadow: 0 1px 2px 0 white;*/
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
}
.contactus__title i{
    padding-right: 25px;
    /*padding-bottom: 23px;*/
    padding-top:29px;
    color: #8f8f8f;
    font-size: 30px;
    /*margin-bottom: 5px;*/
}
.contactus__title h5{
    color: #484848;
    font-size: 16px;
    padding:33px 20px 20px 0;
}
.contatctus__content{
    display: flex;
    flex-direction: column;
    background: white;
    opacity:.75;
    padding-top:26px;
}
.contactus__content__section{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #484848;
    font-size: 13px;
    flex:auto!important;
}
.contactus__content__section p:first-child{
    background-color: #e94c4c;
    padding:9px 15px 7px  15px;
    color: #fafaf8;
    position: relative;
    font-size: 13px;
    border-radius: 3px;
    width: max-content;
}
.contactus__content__section p:first-child::after{
    content: "";
    position: absolute;
    top: 35.2px;
    left: 50%;
    font-size: 9px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e94c4c transparent transparent transparent;
}
.contactus__content__section address {
    margin-bottom: 8px;
}
.__section__phone {
    margin-bottom: 10px;
}


.contactus__content__section #email {
    text-align: end!important;
}
.contatctus__content a{
    /*padding:22px 0 18px 24px;*/
    padding-left: 24px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: auto;
    border: 1px solid #cbcbcb;
    background-color: #dfdede;
    transition: 0.2s ease-in-out;
    color: black!important;
    margin-bottom: 21px;
    margin-top: -7px;
}
.contatctus__content a i{
    color: green;
    padding:14px 22px 18px 10px;
    font-size: 24px;
}
.contatctus__content a:hover{
    background: #ebdede;
}
/*------------------single.html-----------------------*/
.body-content{
    display: flex;
    flex-direction: row-reverse;
}
.body-content__content{
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    margin-top: 67px;
    height:200px
}
.product__title{
    display: flex;
    margin-bottom: 19px;
}
.product__title i{
    font-size: 25px;
   color: #808080;
    transform: scaleX(-1);
}
.product__title h6{
    color: #484848;
    padding-right:11px;
    font-size: 16px;
    font-weight: 400;
}
.product__title h6::after{
    display: inline-block;
    content: "";
    border-top: 1px solid #808080;
    opacity: 0.56;
    margin-right: 15px;
    margin-bottom: 3px;
    border-left: 134px solid transparent;
}

.product__title__selector{

    height: fit-content;
    margin-top: -2px;
    color: #727272;
    background-color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    vertical-align: 2px;
    margin-right: auto;
}
#selector{
    border: 1px solid #dadada;
    padding: 9px 10px 7px 0;
}
#selector option{
    color: black;
    text-align: right;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    transition: .3s ease-in-out;
    display: block;
}

.product__content{
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
}

.product__content__slider{
    height: 271px;
    margin:27px 29px 40px 29px;
    position: relative;
}
.content__slider>.product__slider__wrapper__imgarea{
    position: absolute;
    border: 1px solid #cfcfcf;
    background-color: #ffffff;
}
.product__slider__wrapper{
    display: flex;
}
.product__slider__wrapper__imgarea{
    width: 300px;
    height: 269px;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.product__slider__wrapper__imgarea img{
    width: 200px;
    height: 170px;
}
.swiper-button-next::after , .swiper-button-prev::after{
    color:#7c7c7c!important;
    font-size: 37px!important;
    font-weight: 500;
    z-index: 1!important;
}
.product__slider__wrapper__title{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-right: 29px;
}
.product__slider__wrapper__title h5{
    color: #ff0e0e;
    font-size: 16px;
    font-weight: 400;
    padding-right: 3px;
    padding-top: 22px;
}
.product__slider__wrapper__title span{
    color: #2b2b2b;
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
}
.product__content__files{
    display: flex;
    flex-direction: column;
    margin:0 29px 40px 29px;
    padding-right: 5px;
}
.__files__title{
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}
.__files__title i{
    padding-left:11px;
    opacity: 0.3;
    font-size: 17px;
}
.__files__title span{
    color: #6c6c6c;
    font-size: 13px;
    font-weight: 400;
}
.__files__holder{
    /*padding-right: 18px;*/
    display: flex;
    flex-wrap: wrap;
}
.__files__holder a{
    color: #6c6c6c;
    font-size: 13px;
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 6px 0 7px 130px;
    width:max-content;
}
.__files__holder a:hover{
    background-color: #e8e8e8;
    color: black;
    border-radius: 15px;
}
.__files__holder i{
    color: red;
    font-size: 20px;
    padding: 8px 10px 10px 15px;
}
.__files__holder ul{
    column-count: 2;
    margin-right: -12px;
    column-gap: 34px;
}
.product__content__table{
    margin:0 29px 40px 29px;
    height: fit-content;
}
.product__content__table table{

}
.product__content__table table tr{

}
.product__content__table table td{
    border: 1px solid #cfcfcf;
    /*padding: 20px;*/
}
.product__content__table table td:nth-child(odd){
    color: #2b2b2b;
    font-size: 13px;
    font-weight: 400;
    padding:25px 16px 17px 66px;
}
.product__content__table table td:nth-child(even){
    color: #505050;
    font-size: 11px;
    font-weight: 400;
    padding-right: 17px;
    width: 62.88%;
    text-align: start;
}
.sidebar{
    margin-bottom: 105px;
    display: flex;
    flex-direction: column;
}
.sidebar__map{
    display: flex;
    color: #484848;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 39px;
}
.sidebar__treeview{
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    height: 327px;
    margin-bottom: 24px;
}

.__treeview__ul{
    text-align: right;
    margin-top: 16px;
    padding-right: 16px;
}
.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    color: #484848;
    font-size: 13px;
    font-weight: 400;
}
.caret::before {
    content: "\2630";
    /*content: "\25B6";*/
    color: red;
    display: inline-block;
    margin-right: 6px;
    margin-left: 16px;
    margin-bottom: 17px;
}

.caret.subcaret::before {
    content: "\276E";
    color: #484848;
    display: inline-block;
    transform: scaleX(-1);
    margin-left: 9px;
}
/*.caret-down::before {*/
/*    -ms-transform: rotate(90deg); !* IE 9 *!*/
/*    -webkit-transform: rotate(90deg); !* Safari *!'*/
/*    transform: rotate(90deg);*/
/*}*/

.nested {
    display: none;
    margin-right: -37px;
    color: #484848;
    font-size: 11px;
    font-weight: 400;
    transition: .3s ease-in;
}
.nested.lastnest{
    margin-right: -2px;
    list-style: circle;
    padding-bottom: 11px;
}
.nested.lastnest a{
    color: #484848;
}
.nested.lastnest a:hover,.nested.lastnest a:active,.nested.lastnest a:focus-within{
    color: #f30404;
    transition: .3s ease-in-out;
}
.active {
    display: block;
}
.sidebar__latestnews{
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    margin-bottom:25px;
}
.sidebar__latestnews__title{
    display: flex;
    margin-right: 20px;
    margin-top: 24px;
}
.sidebar__latestnews__title i {
    color: #f30000;
    padding-left: 15px;
}
.sidebar__latestnews__title h6{
    color: #484848;
    font-size: 13px;
    font-weight: 400;
}
.sidebar__latestnews__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
}
.sidebar__latestnews__content ul{
    padding-right: 0;

}
.sidebar__latestnews__content ul li{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.sidebar__latestnews__content ul li:last-child{
    margin-bottom: 9px;
}
.sidebar__latestnews__content ul li a{
    margin:auto;
}
.__news__part__header{
    display: flex;
    align-items: baseline;
}
.__news__part__header time{
    color: #a6a6a6;
    font-size: 11px;
    padding-right: 3px;
    font-weight: 400;
    padding-left: 14px;
}
.__news__part__header h4{
    color: #ff0e0e;
    font-size: 13px;
    font-weight: 400
}
.sidebar__latestnews__content p{
     color: #484848;
     font-size: 11px;
     font-weight: 400;
 }
.sidebar__latestnews__content a{
    color: #6c6c6c;
    font-size: 11px;
    padding-top:10px;
    padding-bottom: 9px;
    border: 1px solid #dfdfdf;
    padding-left: 16px;
    border-radius: 3px;
    font-weight: 400;
}
.sidebar__latestnews__content a:hover ,.sidebar__latestnews__content a:hover i{
    color:#ff0e0e;
    transition: .3s ease-in;
}
.sidebar__latestnews__content i{
    color: #6c6c6c;
    padding-left: 18px;
    padding-right: 14px;
    font-size: 11px;
}

.sidebar__slider{
    margin-bottom: 25px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position:relative;
}
.sidebar__slider__tag {
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    background-color: #c8c8c8;
    padding:7px 15px 1px 16px;
    position: absolute;
    left: -4px;
    top:9px;
    text-transform: uppercase;
}
.sidebar__slider__tag::after{
    content: "";
    position: absolute;
    top: 24.4px;
    left: -.1px;
    font-size: 9px;
    border-top: 6px solid #717171;
    border-left: 3.5px solid transparent;
}
.sidebar__slider__slidepart{
    margin:auto;
    margin-top: 53px;
    display: flex;
    flex-direction: column;
}
.sidebar__slider__slidepart img{
    width: 230px;
    height: 128px;
}
.__slider__slidepart__wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    margin-top: 14px;
}
.__slider__slidepart__wrap span{
    color: #484848;
    font-size: 13px;
    font-weight: 400;
}
.__slider__slidepart__wrap h2{
    color: #428fd0;
    font-size: 38px;
    font-weight: 400;
}
.sidebar-button-next{
    position: initial!important;
    height: auto!important;
    width: auto!important;
    margin-top:11px!important;
    margin-bottom: 13px;
}
.sidebar-button-next::after{
    content: "\00BB" !important;
    background-color: #cfcfcf!important;
    color:#ffffff!important;
    padding:0px 9px;
    font-size: 25px!important;
    font-family: inherit!important;
    border-radius: 50%;
}
/*####################category.html##################*/
.product__content-category{
    display: flex;
    flex-direction: column;
}
.product__content__wrapper{
    display:flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid #e5e5e5;
}
.product__content__wrapper:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
    transition: .3s ease-in-out;
}
.product__content__wrapper:hover a{
    border: 1px solid #dfdfdf;
    background-color: #eeeeee;
    transition: .3s ease-in-out;
    color: #6c6c6c;
}
.product__content__wrapper:hover img{
    transition: .3s ease-in-out;
    filter:grayscale(100%);
}
.product__content-category ul{
    column-count: 3;
    column-gap: 34px;
    padding: 0;
}
.product__content-category ul li{
    margin-bottom: 30px;
}
.product__content__wrapper img{
    width: 200px;
    height: 170px;
    margin:auto;
    margin-top: 46px;
    margin-bottom: 61px;
}
.product__content__wrapper h6{
    color: #ff0e0e;
    font-size: 13px;
    font-weight: 400;
    margin: auto;
}
.product__content__wrapper a{
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    background-color: #ffffff;
    padding-left: 30px;
    color: #6c6c6c;
    font-size: 11px;
    font-weight: 400;
    margin: 21px auto;
    /*transition: background-color .3s;*/
}
.product__content__wrapper a i{
    padding:9px 21px 9px 15px;
    font-size: 11px;
}
.product__content__pagination{
    display:flex;
    justify-content: center;
    align-items: center;
}
.product__content__pagination >a ,.product__content__pagination >a:hover{
    color: #484848;
    font-size: 13px;
    font-weight: 400;
}
.product__content__pagination >a:first-child::before{
    display: inline-block;
    content: "\276C";
    color: #b8b8b8;
    font-size: 20px;
    margin-left: 20px;
    vertical-align: -2px;
}

.product__content__pagination >a:last-child::after{
    display: inline-block;
    content: "\276D";
    color: #b8b8b8;
    font-size: 20px;
    margin-right: 20px;
    vertical-align: -2px;
}
.__pagination__pagewrap{
    display: inline-block;
    margin-left: 85px;
    margin-right: 80px;
}
.__pagination__pagewrap a{
    color: #b4b4b4;
    font-size: 16px;
    font-weight: 400;
    padding:0 13px;
}
.__pagination__pagewrap a:hover{
    color: #b4b4b4;
}
.__pagination__pagewrap a:active ,.__pagination__pagewrap a:focus-within{
    color: #ff6b6b ;
    transition: .3s ease-in;
}
.__pagination__pagewrap a:hover:not(active){
    transition: .2s ease-in-out;
}