*{
  direction: rtl;
}
body{
  background: #f9fcfd;
}
header {
  width: 100%;
  margin-top: 4%;
}
.header-area {
  &__logo {
    a {
      img {

      }
    }
  }
  &__reg-area {

  }
  &__register {
    form {
      div {
        input {

        }
      }
      input {

      }
      button {
        i {

        }
      }
    }
  }
  &__lang {
    a {
      svg {

      }
      &:hover {

      }
    }
  }
}